[Table of Contents](../../index.ipynb)

# Project 1: Analyzing Blue Alliance Data with Python
## Notebook 2: Creating Pandas Dataframes from JSON

## I. Preparations
1. Get a *Blue Alliance* API authorization key. See [See Instructions here](../../procedures/pc03_tba_api_key/pc03_tba_api_key.ipynb).
2. Review [session 09 on Hypertext Transfer Protocol](../../sessions/s09_http/s09_http.ipynb)
3. Review [Analyzing Blue Alliance Data with Pyton - Notebook 1](pj01_nb01_tba_http.ipynb)

In [2]:
import datetime
import json
import pickle

import pandas as pd

## II. Creating a Simple Pandas Dataframe

Hopefully, in part 2, you were able to retreive a list of FRC districts. To get things moving along, we'll load the districts JSON string from a text file, convert the string to a Python data structure, and display the first few districts.

In [3]:
with open('districts.json', 'r') as j_file:
    districts = json.load(j_file)
districts[:4]

[{'abbreviation': 'chs',
  'display_name': 'FIRST Chesapeake',
  'key': '2020chs',
  'year': 2020},
 {'abbreviation': 'fim',
  'display_name': 'FIRST In Michigan',
  'key': '2020fim',
  'year': 2020},
 {'abbreviation': 'fma',
  'display_name': 'FIRST Mid-Atlantic',
  'key': '2020fma',
  'year': 2020},
 {'abbreviation': 'fnc',
  'display_name': 'FIRST North Carolina',
  'key': '2020fnc',
  'year': 2020}]

The JSON string has been converted to a list of Python dictionaries, with each dictionary describing a single FRC district. Python data structures like this are very useful, but there is another kind of data structure that is even more powerful. Run the code cell below to convert the Python list to a Pandas dataframe.

In [4]:
districts_df = pd.DataFrame(districts)
districts_df

   abbreviation          display_name      key  year
0           chs      FIRST Chesapeake  2020chs  2020
1           fim     FIRST In Michigan  2020fim  2020
2           fma    FIRST Mid-Atlantic  2020fma  2020
3           fnc  FIRST North Carolina  2020fnc  2020
4            in         Indiana FIRST   2020in  2020
5           isr          FIRST Israel  2020isr  2020
6            ne           New England   2020ne  2020
7           ont               Ontario  2020ont  2020
8           pch             Peachtree  2020pch  2020
9           pnw     Pacific Northwest  2020pnw  2020
10           tx        FIRST In Texas   2020tx  2020

That's much easier to read. [Pandas](https://pandas.pydata.org/pandas-docs/stable/) is a Python package that provides three different data structures. `Series` are one-dimensional and are similar to lists or arrays. `DataFrames` are two-dimensional and are similar to a table in a database or Excel spreadsheet, and `Panels` are three-dimensional data structures. We will not use `Panels` in this course, just `Dataframes` and `Series`.

Compare the Python list to the data frame. Each dictionary corresponds to a row in the dataframe, and each key in the dictionary corresponds to a column.

#### Dataframe Terminology
Dataframes are available in many languages. While they are most commonly encounted in languages used for statistical analysis and data science, such as R, Python, and Julia, there are packages for working with dataframes in other languages, including Java, Ruby and C++.

A `DataFrame` is an class provided by the Python Pandas package, and is the specific implementation of a dataframe data type that is provided by Pandas. This guide will use the term *dataframe* when speaking of general dataframe concepts that apply in any programming language. The term `DataFrame`, with capitalization that matches the Pandas constructor for a data frame object, is used to refer to the specific Pandas implementation of a dataframe.

## III. Basic DataFrame Operations
I recommend you read through as much of the [Pandas Gettng Started Guide](https://pandas.pydata.org/pandas-docs/stable/getting_started/index.html#getting-started) as you can stand. There are also several good Pandas cheatsheets available. [Try this one first](https://www.datacamp.com/community/blog/python-pandas-cheat-sheet).

In [5]:
# Extract a single column.
# This syntax returns a Pandas Series object.
districts_df["abbreviation"]

0     chs
1     fim
2     fma
3     fnc
4      in
5     isr
6      ne
7     ont
8     pch
9     pnw
10     tx
Name: abbreviation, dtype: object

In [6]:
# Display only the first few rows
districts_df.head(3)

  abbreviation        display_name      key  year
0          chs    FIRST Chesapeake  2020chs  2020
1          fim   FIRST In Michigan  2020fim  2020
2          fma  FIRST Mid-Atlantic  2020fma  2020

In [7]:
# Display only the last few rows
districts_df.tail()

   abbreviation       display_name      key  year
6            ne        New England   2020ne  2020
7           ont            Ontario  2020ont  2020
8           pch          Peachtree  2020pch  2020
9           pnw  Pacific Northwest  2020pnw  2020
10           tx     FIRST In Texas   2020tx  2020

In [8]:
# Display a subset of columns, in a different order
districts_df[["key", "display_name"]].head()

       key          display_name
0  2020chs      FIRST Chesapeake
1  2020fim     FIRST In Michigan
2  2020fma    FIRST Mid-Atlantic
3  2020fnc  FIRST North Carolina
4   2020in         Indiana FIRST

In [9]:
# Extract an element by integer location
# Locations indices start at zero.
districts_df.iloc[3, 2]

'2020fnc'

In [10]:
# Sort by specific column in reverse order
districts_df.sort_values("display_name", ascending=False)

   abbreviation          display_name      key  year
8           pch             Peachtree  2020pch  2020
9           pnw     Pacific Northwest  2020pnw  2020
7           ont               Ontario  2020ont  2020
6            ne           New England   2020ne  2020
4            in         Indiana FIRST   2020in  2020
3           fnc  FIRST North Carolina  2020fnc  2020
2           fma    FIRST Mid-Atlantic  2020fma  2020
5           isr          FIRST Israel  2020isr  2020
10           tx        FIRST In Texas   2020tx  2020
1           fim     FIRST In Michigan  2020fim  2020
0           chs      FIRST Chesapeake  2020chs  2020

This is just the tip of the iceberg of what Pandas can do. Actually, it's just the tip of the tip of the iceberg.

## IV. Nested vs. Flat Data
To be able to manipulate data in a sophisticated manner, we must be able to think and talk about data in a sophisticated manner. This section intoduces a few terms that are useful for describing data.

First, run the cell below to take a look at some match data that was retrieved from TBA-API.

In [11]:
with open('matches.json', 'r') as j_file:
    matches = json.load(j_file)
matches[0:2]

[{'actual_time': 1583104716,
  'alliances': {'blue': {'dq_team_keys': [],
    'score': 136,
    'surrogate_team_keys': [],
    'team_keys': ['frc2930', 'frc2976', 'frc4918']},
   'red': {'dq_team_keys': [],
    'score': 148,
    'surrogate_team_keys': [],
    'team_keys': ['frc4911', 'frc2910', 'frc4173']}},
  'comp_level': 'f',
  'event_key': '2020wasno',
  'key': '2020wasno_f1m1',
  'match_number': 1,
  'post_result_time': 1583105046,
  'predicted_time': 1583104822,
  'score_breakdown': {'blue': {'adjustPoints': 0,
    'autoCellPoints': 40,
    'autoCellsBottom': 0,
    'autoCellsInner': 2,
    'autoCellsOuter': 7,
    'autoInitLinePoints': 15,
    'autoPoints': 55,
    'controlPanelPoints': 0,
    'endgamePoints': 55,
    'endgameRobot1': 'Hang',
    'endgameRobot2': 'Hang',
    'endgameRobot3': 'Park',
    'endgameRungIsLevel': 'NotLevel',
    'foulCount': 0,
    'foulPoints': 0,
    'initLineRobot1': 'Exited',
    'initLineRobot2': 'Exited',
    'initLineRobot3': 'Exited',
    'rp': 0,
    'shieldEnergizedRankingPoint': False,
    'shieldOperationalRankingPoint': False,
    'stage1Activated': True,
    'stage2Activated': False,
    'stage3Activated': False,
    'stage3TargetColor': 'Unknown',
    'tba_numRobotsHanging': 2,
    'tba_shieldEnergizedRankingPointFromFoul': False,
    'techFoulCount': 0,
    'teleopCellPoints': 26,
    'teleopCellsBottom': 0,
    'teleopCellsInner': 0,
    'teleopCellsOuter': 13,
    'teleopPoints': 81,
    'totalPoints': 136},
   'red': {'adjustPoints': 0,
    'autoCellPoints': 32,
    'autoCellsBottom': 0,
    'autoCellsInner': 0,
    'autoCellsOuter': 8,
    'autoInitLinePoints': 15,
    'autoPoints': 47,
    'controlPanelPoints': 0,
    'endgamePoints': 45,
    'endgameRobot1': 'Park',
    'endgameRobot2': 'Hang',
    'endgameRobot3': 'None',
    'endgameRungIsLevel': 'IsLevel',
    'foulCount': 0,
    'foulPoints': 0,
    'initLineRobot1': 'Exited',
    'initLineRobot2': 'Exited',
    'initLineRobot3': 'Exited',
    'rp': 0,
    'shieldEnergizedRankingPoint': False,
    'shieldOperationalRankingPoint': False,
    'stage1Activated': True,
    'stage2Activated': False,
    'stage3Activated': False,
    'stage3TargetColor': 'Unknown',
    'tba_numRobotsHanging': 1,
    'tba_shieldEnergizedRankingPointFromFoul': False,
    'techFoulCount': 0,
    'teleopCellPoints': 56,
    'teleopCellsBottom': 0,
    'teleopCellsInner': 4,
    'teleopCellsOuter': 22,
    'teleopPoints': 101,
    'totalPoints': 148}},
  'set_number': 1,
  'time': 1583103960,
  'videos': [{'key': 'QiegqWDKHOQ', 'type': 'youtube'},
   {'key': 'tijqefvzxIs', 'type': 'youtube'},
   {'key': '26XinRoNxf8', 'type': 'youtube'}],
  'winning_alliance': 'red'},
 {'actual_time': 1583106972,
  'alliances': {'blue': {'dq_team_keys': [],
    'score': 137,
    'surrogate_team_keys': [],
    'team_keys': ['frc2930', 'frc2976', 'frc4918']},
   'red': {'dq_team_keys': [],
    'score': 163,
    'surrogate_team_keys': [],
    'team_keys': ['frc4911', 'frc2910', 'frc4173']}},
  'comp_level': 'f',
  'event_key': '2020wasno',
  'key': '2020wasno_f1m2',
  'match_number': 2,
  'post_result_time': 1583107173,
  'predicted_time': 1583107040,
  'score_breakdown': {'blue': {'adjustPoints': 0,
    'autoCellPoints': 38,
    'autoCellsBottom': 0,
    'autoCellsInner': 1,
    'autoCellsOuter': 8,
    'autoInitLinePoints': 15,
    'autoPoints': 53,
    'controlPanelPoints': 0,
    'endgamePoints': 50,
    'endgameRobot1': 'None',
    'endgameRobot2': 'Hang',
    'endgameRobot3': 'Hang',
    'endgameRungIsLevel': 'NotLevel',
    'foulCount': 0,
    'foulPoints': 0,
    'initLineRobot1': 'Exited',
    'initLineRobot2': 'Exited',
    'initLineRobot3': 'Exited',
    'rp': 0,
    'shieldEnergizedRankingPoint': False,
    'shieldOperationalRankingPoint': False,
    'stage1Activated': True,
    'stage2Activated': False,
    'stage3Activated': False,
    'stage3TargetColor': 'Unknown',
    'tba_numRobotsHanging': 2,
    'tba_shieldEnergizedRankingPointFromFoul': False,
    'techFoulCount': 3,
    'teleopCellPoints': 34,
    'teleopCellsBottom': 0,
    'teleopCellsInner': 0,
    'teleopCellsOuter': 17,
    'teleopPoints': 84,
    'totalPoints': 137},
   'red': {'adjustPoints': 0,
    'autoCellPoints': 20,
    'autoCellsBottom': 0,
    'autoCellsInner': 0,
    'autoCellsOuter': 5,
    'autoInitLinePoints': 15,
    'autoPoints': 35,
    'controlPanelPoints': 0,
    'endgamePoints': 40,
    'endgameRobot1': 'None',
    'endgameRobot2': 'Hang',
    'endgameRobot3': 'None',
    'endgameRungIsLevel': 'IsLevel',
    'foulCount': 0,
    'foulPoints': 45,
    'initLineRobot1': 'Exited',
    'initLineRobot2': 'Exited',
    'initLineRobot3': 'Exited',
    'rp': 0,
    'shieldEnergizedRankingPoint': False,
    'shieldOperationalRankingPoint': False,
    'stage1Activated': True,
    'stage2Activated': False,
    'stage3Activated': False,
    'stage3TargetColor': 'Unknown',
    'tba_numRobotsHanging': 1,
    'tba_shieldEnergizedRankingPointFromFoul': False,
    'techFoulCount': 0,
    'teleopCellPoints': 43,
    'teleopCellsBottom': 0,
    'teleopCellsInner': 3,
    'teleopCellsOuter': 17,
    'teleopPoints': 83,
    'totalPoints': 163}},
  'set_number': 1,
  'time': 1583104380,
  'videos': [{'key': '8UWIqYfIj_Q', 'type': 'youtube'},
   {'key': 'lQdwow-OjpU', 'type': 'youtube'}],
  'winning_alliance': 'red'}]

As you can see, the JSON data includes a long list of dictionary objects, with each dictionary containing extensive data on each match. We used a slice object, `0:2` to limit the output to only the first two matches.

Run the cell below to create a `DataFrame` from this data and view a few of the columns.

In [12]:
mtch_df = pd.DataFrame(matches)
mtch_df[['actual_time', 'alliances', 'key', 'match_number','score_breakdown']]

,actual_time,alliances,key,match_number,score_breakdown
0,1583104716,"{'blue': {'dq_team_keys': [], 'score': 136, 's...",2020wasno_f1m1,1,"{'blue': {'adjustPoints': 0, 'autoCellPoints':..."
1,1583106972,"{'blue': {'dq_team_keys': [], 'score': 137, 's...",2020wasno_f1m2,2,"{'blue': {'adjustPoints': 0, 'autoCellPoints':..."
2,1583096632,"{'blue': {'dq_team_keys': [], 'score': 122, 's...",2020wasno_qf1m1,1,"{'blue': {'adjustPoints': 0, 'autoCellPoints':..."
3,1583098723,"{'blue': {'dq_team_keys': [], 'score': 95, 'su...",2020wasno_qf1m2,2,"{'blue': {'adjustPoints': 0, 'autoCellPoints':..."
4,1583097215,"{'blue': {'dq_team_keys': [], 'score': 134, 's...",2020wasno_qf2m1,1,"{'blue': {'adjustPoints': 0, 'autoCellPoints':..."
...,...,...,...,...,...
84,1583008167,"{'blue': {'dq_team_keys': [], 'score': 64, 'su...",2020wasno_qm9,9,"{'blue': {'adjustPoints': 0, 'autoCellPoints':..."
85,1583101803,"{'blue': {'dq_team_keys': [], 'score': 139, 's...",2020wasno_sf1m1,1,"{'blue': {'adjustPoints': 0, 'autoCellPoints':..."
86,1583102858,"{'blue': {'dq_team_keys': [], 'score': 94, 'su...",2020wasno_sf1m2,2,"{'blue': {'adjustPoints': 0, 'autoCellPoints':..."
87,1583102423,"{'blue': {'dq_team_keys': [], 'score': 147, 's...",2020wasno_sf2m1,1,"{'blue': {'adjustPoints': 0, 'autoCellPoints':..."
88,1583103375,"{'blue': {'dq_team_keys': [], 'score': 158, 's...",2020wasno_sf2m2,2,"{'blue': {'adjustPoints': 0, 'autoCellPoints':..."

Hmmm. It's not nearly as readable as the event or district data frames we created earlier. Can you see why?

First, we need to use some new terms before we can discuss the differences between the match JSON data and the district and event JSON data.  
* **Atomic Data / Atomic Values:** Pieces of data that cannot be divided into smaller portions. Integers, floating point values, and Boolean values are atomic. We consider strings to be atomic as well, even though they can be split into separate characters. The word *atomic* is derived from the ancient Greek word *atomos*, which means uncuttable.
* **Composite Data / Composite Values:** Strings, dictionaries, arrays, tuples, sets, and data frames are all examples of composite data.

Now let's take another look at the district JSON data that we retrieved from TBA-API. The dataframe created from this data only contains atomic data.

```JSON
[{'abbreviation': 'chs',
  'display_name': 'FIRST Chesapeake',
  'key': '2020chs',
  'year': 2020},
 {'abbreviation': 'fim',
  'display_name': 'FIRST In Michigan',
  'key': '2020fim',
  'year': 2020},
 {'abbreviation': 'fma',
  'display_name': 'FIRST Mid-Atlantic',
  'key': '2020fma',
  'year': 2020}]
  ...
```
The JSON data consists of a list of dictionary objects. Every dictionary value is an atomic value. We can see how the JSON corresponds to the data frame that Pandas constructed from the JSON data (see below). Each dictionary corresponds to a single row in the data frame and the dictionary key is the name of the corresponding column in the data frame.

Like the JSON data for districts and events, the matches JSON data consists of a list of dictionaries, but the similarities end there. Consider the value of the *alliances* dictionary entry for the first match in the data set:

In [13]:
matches[0]['alliances']

{'blue': {'dq_team_keys': [],
  'score': 136,
  'surrogate_team_keys': [],
  'team_keys': ['frc2930', 'frc2976', 'frc4918']},
 'red': {'dq_team_keys': [],
  'score': 148,
  'surrogate_team_keys': [],
  'team_keys': ['frc4911', 'frc2910', 'frc4173']}}

First, find this data in the larger extract of JSON match data above, and make sure you understand how this portion relates to the whole - It's the value corresponding to the the *alliances* key contained in the first dictionary of the outer list.

Next, note that instead of containing an atomic value, the *alliances* entry contains a composite value, another dictionary. The first entry in this sub-dictionary, which has the dictionary key *blue*, is another dictionary. But wait, there's more. The *team_keys* entry in the sub-sub-dictionary contains a list, another composite value.

So we have a list within a dictionary within another dictionary within yet another dictionary within a list. There is no readily apparent way to convert this data into a simple table with rows and columns of atomic data. This brings us to the next two terms we need for our vocabulary of data:

* **Flat Data / Flat Table:** Data or tables that consist of atomic values are described as flat. For example, the districts dataframe is a flat dataframe. Non-tabular data, such as JSON, that can easily be converted into a two-dimensional table of atomic values can also be described as flat.
* **Nested Data:** Data that has composite values contained or nested within other composite values is described as nested if there is more than one level of nesting. Such data cannot easily be converted to a flat data structure.

Examples:
 * The districts JSON data has only one level of nesting and was easily converted to a dataframe of atomic values. The districts JSON data is flat.
 * The matches JSON data has several levels of nesting, where composite values (i.e., dictionaries or lists) are embedded within other composite values - this is nested data.

Now we have the vocabulary to explain why the matches data cannot easily be converted into a flat table. The matches JSON data has at least four levels of nesting.

## V. Two Approaches to Creating Pandas Dataframes
Pandas dataframes can be created with either a column approach, or a row approach. We will use the matches JSON data to illustrate both of these approaches.

In [14]:
matches[0:2]

[{'actual_time': 1583104716,
  'alliances': {'blue': {'dq_team_keys': [],
    'score': 136,
    'surrogate_team_keys': [],
    'team_keys': ['frc2930', 'frc2976', 'frc4918']},
   'red': {'dq_team_keys': [],
    'score': 148,
    'surrogate_team_keys': [],
    'team_keys': ['frc4911', 'frc2910', 'frc4173']}},
  'comp_level': 'f',
  'event_key': '2020wasno',
  'key': '2020wasno_f1m1',
  'match_number': 1,
  'post_result_time': 1583105046,
  'predicted_time': 1583104822,
  'score_breakdown': {'blue': {'adjustPoints': 0,
    'autoCellPoints': 40,
    'autoCellsBottom': 0,
    'autoCellsInner': 2,
    'autoCellsOuter': 7,
    'autoInitLinePoints': 15,
    'autoPoints': 55,
    'controlPanelPoints': 0,
    'endgamePoints': 55,
    'endgameRobot1': 'Hang',
    'endgameRobot2': 'Hang',
    'endgameRobot3': 'Park',
    'endgameRungIsLevel': 'NotLevel',
    'foulCount': 0,
    'foulPoints': 0,
    'initLineRobot1': 'Exited',
    'initLineRobot2': 'Exited',
    'initLineRobot3': 'Exited',
    'rp': 0,
    'shieldEnergizedRankingPoint': False,
    'shieldOperationalRankingPoint': False,
    'stage1Activated': True,
    'stage2Activated': False,
    'stage3Activated': False,
    'stage3TargetColor': 'Unknown',
    'tba_numRobotsHanging': 2,
    'tba_shieldEnergizedRankingPointFromFoul': False,
    'techFoulCount': 0,
    'teleopCellPoints': 26,
    'teleopCellsBottom': 0,
    'teleopCellsInner': 0,
    'teleopCellsOuter': 13,
    'teleopPoints': 81,
    'totalPoints': 136},
   'red': {'adjustPoints': 0,
    'autoCellPoints': 32,
    'autoCellsBottom': 0,
    'autoCellsInner': 0,
    'autoCellsOuter': 8,
    'autoInitLinePoints': 15,
    'autoPoints': 47,
    'controlPanelPoints': 0,
    'endgamePoints': 45,
    'endgameRobot1': 'Park',
    'endgameRobot2': 'Hang',
    'endgameRobot3': 'None',
    'endgameRungIsLevel': 'IsLevel',
    'foulCount': 0,
    'foulPoints': 0,
    'initLineRobot1': 'Exited',
    'initLineRobot2': 'Exited',
    'initLineRobot3': 'Exited',
    'rp': 0,
    'shieldEnergizedRankingPoint': False,
    'shieldOperationalRankingPoint': False,
    'stage1Activated': True,
    'stage2Activated': False,
    'stage3Activated': False,
    'stage3TargetColor': 'Unknown',
    'tba_numRobotsHanging': 1,
    'tba_shieldEnergizedRankingPointFromFoul': False,
    'techFoulCount': 0,
    'teleopCellPoints': 56,
    'teleopCellsBottom': 0,
    'teleopCellsInner': 4,
    'teleopCellsOuter': 22,
    'teleopPoints': 101,
    'totalPoints': 148}},
  'set_number': 1,
  'time': 1583103960,
  'videos': [{'key': 'QiegqWDKHOQ', 'type': 'youtube'},
   {'key': 'tijqefvzxIs', 'type': 'youtube'},
   {'key': '26XinRoNxf8', 'type': 'youtube'}],
  'winning_alliance': 'red'},
 {'actual_time': 1583106972,
  'alliances': {'blue': {'dq_team_keys': [],
    'score': 137,
    'surrogate_team_keys': [],
    'team_keys': ['frc2930', 'frc2976', 'frc4918']},
   'red': {'dq_team_keys': [],
    'score': 163,
    'surrogate_team_keys': [],
    'team_keys': ['frc4911', 'frc2910', 'frc4173']}},
  'comp_level': 'f',
  'event_key': '2020wasno',
  'key': '2020wasno_f1m2',
  'match_number': 2,
  'post_result_time': 1583107173,
  'predicted_time': 1583107040,
  'score_breakdown': {'blue': {'adjustPoints': 0,
    'autoCellPoints': 38,
    'autoCellsBottom': 0,
    'autoCellsInner': 1,
    'autoCellsOuter': 8,
    'autoInitLinePoints': 15,
    'autoPoints': 53,
    'controlPanelPoints': 0,
    'endgamePoints': 50,
    'endgameRobot1': 'None',
    'endgameRobot2': 'Hang',
    'endgameRobot3': 'Hang',
    'endgameRungIsLevel': 'NotLevel',
    'foulCount': 0,
    'foulPoints': 0,
    'initLineRobot1': 'Exited',
    'initLineRobot2': 'Exited',
    'initLineRobot3': 'Exited',
    'rp': 0,
    'shieldEnergizedRankingPoint': False,
    'shieldOperationalRankingPoint': False,
    'stage1Activated': True,
    'stage2Activated': False,
    'stage3Activated': False,
    'stage3TargetColor': 'Unknown',
    'tba_numRobotsHanging': 2,
    'tba_shieldEnergizedRankingPointFromFoul': False,
    'techFoulCount': 3,
    'teleopCellPoints': 34,
    'teleopCellsBottom': 0,
    'teleopCellsInner': 0,
    'teleopCellsOuter': 17,
    'teleopPoints': 84,
    'totalPoints': 137},
   'red': {'adjustPoints': 0,
    'autoCellPoints': 20,
    'autoCellsBottom': 0,
    'autoCellsInner': 0,
    'autoCellsOuter': 5,
    'autoInitLinePoints': 15,
    'autoPoints': 35,
    'controlPanelPoints': 0,
    'endgamePoints': 40,
    'endgameRobot1': 'None',
    'endgameRobot2': 'Hang',
    'endgameRobot3': 'None',
    'endgameRungIsLevel': 'IsLevel',
    'foulCount': 0,
    'foulPoints': 45,
    'initLineRobot1': 'Exited',
    'initLineRobot2': 'Exited',
    'initLineRobot3': 'Exited',
    'rp': 0,
    'shieldEnergizedRankingPoint': False,
    'shieldOperationalRankingPoint': False,
    'stage1Activated': True,
    'stage2Activated': False,
    'stage3Activated': False,
    'stage3TargetColor': 'Unknown',
    'tba_numRobotsHanging': 1,
    'tba_shieldEnergizedRankingPointFromFoul': False,
    'techFoulCount': 0,
    'teleopCellPoints': 43,
    'teleopCellsBottom': 0,
    'teleopCellsInner': 3,
    'teleopCellsOuter': 17,
    'teleopPoints': 83,
    'totalPoints': 163}},
  'set_number': 1,
  'time': 1583104380,
  'videos': [{'key': '8UWIqYfIj_Q', 'type': 'youtube'},
   {'key': 'lQdwow-OjpU', 'type': 'youtube'}],
  'winning_alliance': 'red'}]

### A. *Column* Approach to Data Frames
The first approach is to create a list for each column that will be in the dataframe. For example, to create a dataframe that identifies the teams that played in each match, we could create a column with the match keys and a column for each operator station. The operator station columns would contain the teams that were assigned to that station for a given match.

In [16]:
# Match keys column
match_keys = [match['key'] for match in matches]
match_keys[:8]

['2020wasno_f1m1',
 '2020wasno_f1m2',
 '2020wasno_qf1m1',
 '2020wasno_qf1m2',
 '2020wasno_qf2m1',
 '2020wasno_qf2m2',
 '2020wasno_qf3m1',
 '2020wasno_qf3m2']

In [17]:
# Operator station columns
red1 = [match['alliances']['red']['team_keys'][0] for match in matches]
red2 = [match['alliances']['red']['team_keys'][1] for match in matches]
red3 = [match['alliances']['red']['team_keys'][2] for match in matches]
blue1 = [match['alliances']['blue']['team_keys'][0] for match in matches]
blue2 = [match['alliances']['blue']['team_keys'][1] for match in matches]
blue3 = [match['alliances']['blue']['team_keys'][2] for match in matches]
blue3[:8]

['frc4918',
 'frc4918',
 'frc4131',
 'frc4131',
 'frc7461',
 'frc7461',
 'frc492',
 'frc492']

We can create a dataframe by passing a dictionary to the `DataFrame` constructor that contains the lists we just created. The lists will become columns in the dataframe and the corresponding dictionary key will become the column name. For this to work, the lists have to be constructed such that all of the data is in the same order. The data that will be the first row of the dataframe must all be contained in the 1st element of each list, and so on.

In [24]:
column_dictionary = {'match_key': match_keys,
                    'red1': red1, 'red2': red2, 'red3': red3,
                    'blue1': blue1, 'blue2': blue2, 'blue3': blue3}
match_sched_df = pd.DataFrame(column_dictionary)
match_sched_df.head()

         match_key     red1     red2     red3    blue1    blue2    blue3
0   2020wasno_f1m1  frc4911  frc2910  frc4173  frc2930  frc2976  frc4918
1   2020wasno_f1m2  frc4911  frc2910  frc4173  frc2930  frc2976  frc4918
2  2020wasno_qf1m1  frc4911  frc2910  frc4173  frc4512   frc949  frc4131
3  2020wasno_qf1m2  frc4911  frc2910  frc4173  frc4512   frc949  frc4131
4  2020wasno_qf2m1  frc4089  frc4915  frc4309  frc1318  frc4513  frc7461

### B. *Row* Approach to Dataframes
<a id='row_approach'></a>
We can also create a data frame from a list of dictionaries, where every dictionary in the list corresponds to a row. This is how the districts dataframe was constructed.

In the next cell, we use a list comprehension to extract only the score breakowns from the JSON matches object and assemble them into their own list. The result is a flat data structure, where every dictionary value is atomic.

In [28]:
blue_rows = [mtch['score_breakdown']['blue'] for mtch in matches]
blue_rows[:5]

[{'adjustPoints': 0,
  'autoCellPoints': 40,
  'autoCellsBottom': 0,
  'autoCellsInner': 2,
  'autoCellsOuter': 7,
  'autoInitLinePoints': 15,
  'autoPoints': 55,
  'controlPanelPoints': 0,
  'endgamePoints': 55,
  'endgameRobot1': 'Hang',
  'endgameRobot2': 'Hang',
  'endgameRobot3': 'Park',
  'endgameRungIsLevel': 'NotLevel',
  'foulCount': 0,
  'foulPoints': 0,
  'initLineRobot1': 'Exited',
  'initLineRobot2': 'Exited',
  'initLineRobot3': 'Exited',
  'rp': 0,
  'shieldEnergizedRankingPoint': False,
  'shieldOperationalRankingPoint': False,
  'stage1Activated': True,
  'stage2Activated': False,
  'stage3Activated': False,
  'stage3TargetColor': 'Unknown',
  'tba_numRobotsHanging': 2,
  'tba_shieldEnergizedRankingPointFromFoul': False,
  'techFoulCount': 0,
  'teleopCellPoints': 26,
  'teleopCellsBottom': 0,
  'teleopCellsInner': 0,
  'teleopCellsOuter': 13,
  'teleopPoints': 81,
  'totalPoints': 136},
 {'adjustPoints': 0,
  'autoCellPoints': 38,
  'autoCellsBottom': 0,
  'autoCellsInner': 1,
  'autoCellsOuter': 8,
  'autoInitLinePoints': 15,
  'autoPoints': 53,
  'controlPanelPoints': 0,
  'endgamePoints': 50,
  'endgameRobot1': 'None',
  'endgameRobot2': 'Hang',
  'endgameRobot3': 'Hang',
  'endgameRungIsLevel': 'NotLevel',
  'foulCount': 0,
  'foulPoints': 0,
  'initLineRobot1': 'Exited',
  'initLineRobot2': 'Exited',
  'initLineRobot3': 'Exited',
  'rp': 0,
  'shieldEnergizedRankingPoint': False,
  'shieldOperationalRankingPoint': False,
  'stage1Activated': True,
  'stage2Activated': False,
  'stage3Activated': False,
  'stage3TargetColor': 'Unknown',
  'tba_numRobotsHanging': 2,
  'tba_shieldEnergizedRankingPointFromFoul': False,
  'techFoulCount': 3,
  'teleopCellPoints': 34,
  'teleopCellsBottom': 0,
  'teleopCellsInner': 0,
  'teleopCellsOuter': 17,
  'teleopPoints': 84,
  'totalPoints': 137},
 {'adjustPoints': 0,
  'autoCellPoints': 20,
  'autoCellsBottom': 3,
  'autoCellsInner': 1,
  'autoCellsOuter': 2,
  'autoInitLinePoints': 15,
  'autoPoints': 35,
  'controlPanelPoints': 0,
  'endgamePoints': 65,
  'endgameRobot1': 'Hang',
  'endgameRobot2': 'None',
  'endgameRobot3': 'Hang',
  'endgameRungIsLevel': 'IsLevel',
  'foulCount': 1,
  'foulPoints': 3,
  'initLineRobot1': 'Exited',
  'initLineRobot2': 'Exited',
  'initLineRobot3': 'Exited',
  'rp': 0,
  'shieldEnergizedRankingPoint': False,
  'shieldOperationalRankingPoint': False,
  'stage1Activated': True,
  'stage2Activated': False,
  'stage3Activated': False,
  'stage3TargetColor': 'Unknown',
  'tba_numRobotsHanging': 2,
  'tba_shieldEnergizedRankingPointFromFoul': False,
  'techFoulCount': 0,
  'teleopCellPoints': 19,
  'teleopCellsBottom': 0,
  'teleopCellsInner': 1,
  'teleopCellsOuter': 8,
  'teleopPoints': 84,
  'totalPoints': 122},
 {'adjustPoints': 0,
  'autoCellPoints': 10,
  'autoCellsBottom': 1,
  'autoCellsInner': 0,
  'autoCellsOuter': 2,
  'autoInitLinePoints': 15,
  'autoPoints': 25,
  'controlPanelPoints': 0,
  'endgamePoints': 70,
  'endgameRobot1': 'Hang',
  'endgameRobot2': 'Park',
  'endgameRobot3': 'Hang',
  'endgameRungIsLevel': 'IsLevel',
  'foulCount': 0,
  'foulPoints': 0,
  'initLineRobot1': 'Exited',
  'initLineRobot2': 'Exited',
  'initLineRobot3': 'Exited',
  'rp': 0,
  'shieldEnergizedRankingPoint': False,
  'shieldOperationalRankingPoint': False,
  'stage1Activated': False,
  'stage2Activated': False,
  'stage3Activated': False,
  'stage3TargetColor': 'Unknown',
  'tba_numRobotsHanging': 2,
  'tba_shieldEnergizedRankingPointFromFoul': False,
  'techFoulCount': 0,
  'teleopCellPoints': 0,
  'teleopCellsBottom': 0,
  'teleopCellsInner': 0,
  'teleopCellsOuter': 0,
  'teleopPoints': 70,
  'totalPoints': 95},
 {'adjustPoints': 0,
  'autoCellPoints': 24,
  'autoCellsBottom': 0,
  'autoCellsInner': 0,
  'autoCellsOuter': 6,
  'autoInitLinePoints': 15,
  'autoPoints': 39,
  'controlPanelPoints': 0,
  'endgamePoints': 50,
  'endgameRobot1': 'Hang',
  'endgameRobot2': 'Hang',
  'endgameRobot3': 'None',
  'endgameRungIsLevel': 'NotLevel',
  'foulCount': 0,
  'foulPoints': 3,
  'initLineRobot1': 'Exited',
  'initLineRobot2': 'Exited',
  'initLineRobot3': 'Exited',
  'rp': 0,
  'shieldEnergizedRankingPoint': False,
  'shieldOperationalRankingPoint': False,
  'stage1Activated': True,
  'stage2Activated': False,
  'stage3Activated': False,
  'stage3TargetColor': 'Unknown',
  'tba_numRobotsHanging': 2,
  'tba_shieldEnergizedRankingPointFromFoul': False,
  'techFoulCount': 0,
  'teleopCellPoints': 42,
  'teleopCellsBottom': 1,
  'teleopCellsInner': 3,
  'teleopCellsOuter': 16,
  'teleopPoints': 92,
  'totalPoints': 134}]

The list comprehension creates a list of dictionaries. Each dictionary contains the detailed match scores for the blue alliance.

In [29]:
blue_df = pd.DataFrame(blue_rows)
blue_df.head()

,adjustPoints,autoCellPoints,autoCellsBottom,autoCellsInner,autoCellsOuter,autoInitLinePoints,autoPoints,controlPanelPoints,endgamePoints,endgameRobot1,...,stage3TargetColor,tba_numRobotsHanging,tba_shieldEnergizedRankingPointFromFoul,techFoulCount,teleopCellPoints,teleopCellsBottom,teleopCellsInner,teleopCellsOuter,teleopPoints,totalPoints
0,0,40,0,2,7,15,55,0,55,Hang,...,Unknown,2,False,0,26,0,0,13,81,136
1,0,38,0,1,8,15,53,0,50,None,...,Unknown,2,False,3,34,0,0,17,84,137
2,0,20,3,1,2,15,35,0,65,Hang,...,Unknown,2,False,0,19,0,1,8,84,122
3,0,10,1,0,2,15,25,0,70,Hang,...,Unknown,2,False,0,0,0,0,0,70,95
4,0,24,0,0,6,15,39,0,50,Hang,...,Unknown,2,False,0,42,1,3,16,92,134

Each dictionary in the JSON data corresponds to a row in the dataframe, and each dictionary key (e.g., 'autoCellPoints', 'endgamePoints') corresponds to a column. Unfortunately this dataframe is not as informative as it could be. It does not even include match number or identify the alliance. Creating a dataframe with all of this information requires more advanced techniques, which we will cover in the next notebook.

## VI. The Next Step
Go to [notebook 3](pj01_nb03_tba_nested_data.ipynb) to continue with this project and use more advanced techniques to create dataframes.

[Table of Contents](../../index.ipynb)