[Table of Contents](../../index.ipynb)

# FRC Analytics with Python - Session 09
# Ta
**Last Updated: 13 September 2020**

## I. Introduction to Tabular Data
Tabular data is data that is organized into rows and columns. It's everywhere -- in newspapers and magazines, on websites, in computer databases, and in Microsoft Excel files. Evaluating and manipulating tabular data is an essential skill for any analyst.

So far we've experimented with lists, tuples, and dictionaries. These data structures are indispensable, but they are not optimal for working with tabular data. In this session we will review several techniques and tools for working with tabular data.

## II. Comma Separated Value (CSV) Files
### CSV File Structure
Tabular data is often stored in comma separated value (CSV) files. CSV files are text files that use commas and newline characters (I'll explain what those are shortly) to organize the contents of the file into a table. Let's look at an example. The `space.csv` file contains information on 4,324 space launches, starting with the launch of the the Sputnik spacecraft by the Soviet Union in 1957. The dataset is available on the [Kaggle website](https://www.kaggle.com/agirlcoding/all-space-missions-from-1957). The Python code below opens the file and displays the first five lines.

In [1]:
# Open a text file and print the first five lines
with open("space.csv", "rt", encoding="UTF-8") as csv_file:
    for _ in range(5):
        print(csv_file.readline())

Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission

SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50,Success

CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Center, China","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success

SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,,Success

Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65,Success

The first row of text contains the column headings, with each column separated by a comma. The subsequent rows contain the data, with one row for each space launch. The data rows also use columns to separate the different values, but it's a bit difficult to keep track of what text belongs to which column because many of the data values contain commas inside the data. For example, the second column in the first row contains the value *"LC-39A, Kennedy Space Center, Florida, USA"*. The commas within quotation marks are part of the data and are not used for column separation.

CSV files are popular because they are simple to create and can be opened and read with any text editor. Still, the content is tedious to read. All of the values within a row are smashed together and the columns in the data rows do not line up with the column headers.

### Python CSV Module
The Python Standard Library has a `csv` module for reading CSV files that makes things a little better.

In [2]:
import csv
space_csv = []
with open("space.csv", "rt", encoding="UTF-8") as csv_file:
    reader = csv.reader(csv_file)
    for row in reader:
        space_csv.append(row)

In [3]:
space_csv[:3]

[['Company Name',
  'Location',
  'Datum',
  'Detail',
  'Status Rocket',
  'Rocket',
  'Status Mission'],
 ['SpaceX',
  'LC-39A, Kennedy Space Center, Florida, USA',
  'Fri Aug 07, 2020 05:12 UTC',
  'Falcon 9 Block 5 | Starlink V1 L9 & BlackSky',
  'StatusActive',
  '50',
  'Success'],
 ['CASC',
  'Site 9401 (SLS-2), Jiuquan Satellite Launch Center, China',
  'Thu Aug 06, 2020 04:01 UTC',
  'Long March 2D | Gaofen-9 04 & Q-SAT',
  'StatusActive',
  '29.75',
  'Success']]

The `csv` module converts every row of the CSV file to a Python list. We appended every row to an outer list, to create a lists of lists, or a nested list. Each value is now put on its own row. We can even extract individual values from the nested list. For example, to get the third element of the third row:

In [4]:
space_csv[2][2]

'Thu Aug 06, 2020 04:01 UTC'

But what if we wanted to figure out how many space launches occurred in China on Wednesdays since 2000? That would require us to write several lines of code to read through all of the rows of data and count the applicable launches. Fortunately Python has a better tool for working with tabular data, which we'll get to in a minute. But first I shold explain what newline charactes are.

### C. Newline Characters
A newline character can occur in a string just like any other character. In Python and many other programming languages, you can insert a newline character into a string using a backslash followed by an 'n', like so: `\n`.

In [4]:
multi_line_string = "This is line 1.\nThis is line 2."
multi_line_string

'This is line 1.\nThis is line 2.'

So far, the results are not very impressive. The notebook is just displaying the newline character in the string. The outcome is better if we pass the string to the `print()` function.

In [5]:
print(multi_line_string)

This is line 1.
This is line 2.

Let's take another look at that CSV file. In the original example, we passed each line of the file to the `print()` function, which did not directly show the newline characters. This time, we will display the first three lines of the CSV file without using the `print()` function. We'll put a list with the the first three lines of the file on the last line of the code cell and use the Jupyter Notebook feature that displays the output of the last line of every code cell.

In [7]:
# Inspect first two lines of CSV file
with open("space.csv", "rt", encoding="UTF-8") as csv_file:
    lines = csv_file.readlines()[:3]
lines

['Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission\n',
 'SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50,Success\n',
 'CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Center, China","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success\n']

Now we can see the newline character (`\n`) at the end of each line of the CSV file. The newline characters are crucial -- without them we wouldn't know where to start the next line and the CSV file would consist of just one long row of text.

You may be thinking that `\n` looks like *two* characters, not one. That's understandable, but Python's `ord()` function shows that `\n` maps to a single character code.

In [10]:
print("Character code for newline:", ord("\n"))
print("For comparison, character codes for IRS:", [ord(c) for c in "IRS"])

Character code for newline: 10
For comparison, character codes for IRS: [73, 82, 83]

We use the backslash notation because our alphabet doesn't have a symbol that means newline. "\n" is sometimes referred to as a control character, or a non-printable character, or an escape sequence character. There are other control characters in Python:

In [15]:
print("Include a backslash (\\) in a string with '\\\\'.")
print("Include quotation marks (\"\") in a string with '\\\"'.")
print("Include a tab character (\t) in a string with '\\t'.")

Include a backslash (\) in a string with '\\'.
Include quotation marks ("") in a string with '\"'.
Include a tab character (	) in a string with '\t'.

Technically and historically, the '\n' character is called a line feed character. Linux and older Unix operating systems use this character by default to mark the end of lines in text files. Microsoft Windows, on the other hand, uses two characters, a carriage return character ('\r') and a line feed character ('\n') to mark the end of a line. That's why, when you push files to a Github repository from Windows, you see all those messages about the end of line characters on the screen. Git is automatically converting your text files from using Windows style "\r\n" newline sequences with Linux style "\n" newline characters. And if that's not confusing enough, old Apple Macintosh operating systems used just a carriage return to mark the end of a line.

How did it get to be this way? Video monitors were nonexistant or uncommon before the late 1970s. Anyone who wanted to interact in real time with a computer used a teleprinter, like the one pictured below.
![Vintage Teletype](images/asr33_2.jpg)

The user would type commands on the teletype, seeing what they typed on a sheet of paper. They would hit a key to send they command to a computer, and the output from the command would print out on the paper. The command line interface that we are currently using is an on-screen version of the old teleprinter interface. The print head would move left to right across the page and the paper would be moved up and down by the roller. To start typing a new line, the user would hit the *RE-TURN* key to move the print head back to the left side of the page, and the *LINE FEED* key to move the paper up one row, effectively moving the print head down to the next line. As various computer operating systems were developed, 


Most of the tools used by the IRS take care of newline sequences without much trouble, so there's no need to memorize all of the different end of line sequences. But differences between newline sequences have caused headaches for many people in the past and could do so again in the future, so it's important to understand that different operating systems use different sequences. For Python, just use '\n'.

## III. Pandas Package

### A. Introduction
The *Pandas* package is an excellent tool for working with tabular data. Pandas is not included by default when installing Python, but it can easily be installed by running the command `conda install pandas`. Let's see how our space data looks when we use Pandas to view it.

In [5]:
import pandas as pd
space_df = pd.read_csv("space.csv")
space_df.head()

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145,Success

Now that is much better. All of the data lines up with the column headers. Pandas even adds row numbers and shades alternate rows to make everything easy to read. And we did everything in three short lines of code:
* The first line imports the pandas module and renames it `pd`.
* The next line reads the CSV file and creates a `Dataframe` object.
* The final line displays the `Dataframe` object. The `.head()` method causes only the first five lines to be displayed.

By the way, the package isn't named *Pandas* because the developers really like pandas (but who doesn't like pandas?). *Pandas* is short for *panel data*. Panel data is common in the social sciences. It is multi-dimensional data on on multiple entities, with measurements taken at several points in time. For example, suppose we're conducting a study on family income over time. We might collect multiple pieces of data on each family, such as income, number of children, education level of parents, age of parents, whether they own their home, etc. If we collect such information on 500 families, and then update the information every year for five years, we have panel data.

**Ex. III.1** The `.head()` method will accept an integer argument that represents the number of rows to display. Display the first eight rows of the dataframe.

In [6]:
# Ex. III.1

**Ex. III.2** There is also a `tail()` method that will display the last few rows of a dataframe. Display the last 4 rows of the `space_df` dataframe.

In [7]:
# Ex. III.2

### B. Pandas Data Types
Pandas provides two different types of data structures: `Series` and `DataFrame`. 

#### DataFrame
What type of data structure is the `space_df` object?

In [8]:
# What type of object is space_df?
type(space_df)

pandas.core.frame.DataFrame

The `space_df` object is an object of type [`DataFrame`](https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html#dataframe). Most `DataFrame` objects are two-dimensional with rows and columns. `DataFrames` can be modified to contain data with three or more dimensions, such as panel data.

Pay attention to the capitalization of `DataFrame` (capital F). We're using the word "dataframe" a couple different ways. A dataframe is a two-dimensional data structure that can be found in Python, [R](https://en.wikipedia.org/wiki/R_(programming_language) (a language for statistical analysis), and [Julia](https://en.wikipedia.org/wiki/Julia_(programming_language) (a relatively new language that is good for numerical analysis). A `DataFrame`, on the other hand, is a Python data type provided by the *Pandas* package.

#### Series
The following code extracts a single column from the `space_df` `DataFrame` and displays its type.

In [9]:
# pandas.Series data type
datum_series = space_df.Datum.head(6)  # Extract a single column and display top six rows
print(datum_series)
type(datum_series)

0    Fri Aug 07, 2020 05:12 UTC
1    Thu Aug 06, 2020 04:01 UTC
2    Tue Aug 04, 2020 23:57 UTC
3    Thu Jul 30, 2020 21:25 UTC
4    Thu Jul 30, 2020 11:50 UTC
5    Sat Jul 25, 2020 03:13 UTC
Name: Datum, dtype: object

pandas.core.series.Series

We can extract a single column from a `DataFrame` by appending a period and the column name to the `DataFrame` variable (i.e., `space_df.Datum`). Extracting a single column results in a Pandas [`Series`](https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html#series) object. A `Series` is similar to a list, but with some differences:
* Unlike a Python list, all elements of a `Series` must have the same data type. The *Datum* column's type is *object*, which is the type Pandas uses for strings.
* The contents of a Pandas `Series` are stored in memory in different manner than lists. Because of this, calculations on `Series` objects can be faster than equivalent calculations on lists.

## VII. Quiz
Answer the following questions by typing the answers as comments in the code block below each question.

**#1.** One of these lines of code will create an error. Which one? Why?
```python
dvar1 = {[1, 2]: "three"}
dvar2 = {(1, 2): "three"}
```

In [10]:
#
#

**#2.** Which of the data types listed below are mutable?
* string 
* integer
* float
* list
* tuple
* dictionary
* boolean

In [11]:
#
#

**#3.** What method can be used to loop over a dictionaries keys *and* values?

In [12]:
#
#

## VIII. Save Your Work
Once you have completed the exercises, save a copy of the notebook outside of the git repository (outside of the *pyclass_frc* folder). Include your name in the file name. Send the notebook file to another student to check your answers.

## IX. Concept and Terminology Review
You should be able to define the following terms or describe the concept.
* Composite data type
* Immutable data Type
* Mutable data type
* Dictionary
* Key
* Value
* `dict()` function
* Looping with dictionaries
* `.keys()` method
* `.values()` method
* `.items()` method
* Tuples
* Tuple packing
* Tuple unpackign
* `tuple()` function
* Composite data types that contain other composite data types.

### Notes for later

The newline characters were not *completely* hidden in the original example -- you can see that they are present. There will be a quiz question on that later.

[Table of Contents](../../index.ipynb)